.topbar{
	background-color: $blue_1;
	padding: 0 0;

	.topbar-left{
		.welcome-text{
			font-style: italic;
			color: $white;
		    padding: 8px 0;
		}
	}
	.topbar-right{
		text-align: right;
		.topbar-menu{
			display: inline-table;
			li{
				list-style: none;
				float: left;
				color: $white;
				padding: 0 0px;
				&:before{
					content: '|';
					padding: 0 10px;
				}
				&:last-child:after{
					content: '|';
					padding: 0 10px;
				}
				a{
					color: $white;
					&:hover{
						color: $orange;
					}
				}
			}
		}
		.topbar-sosmed{
			display: inline-table;
			li{
				list-style: none;
				float: left;
				font-size: 18px;
				padding: 0 10px;
				a{
					color: $white;
					&:hover{
						color: $orange;
					}
				}
			}
		}
	}
}

.topbar-logo{
	background-color: $white;
    padding: 5px 0;
	.navbar-brand{
		height: auto;
	}
}
.contact-info{
	float: right;
    margin-top: 17px;
	> div{
		display: inline-table;
		margin-right: 40px;
	}
}